In [49]:
import pandas as pd

In [50]:
data = {
    "Name(Brand)" : ["Audi","BMW","Ford"],
    "Model(year)" : [2024,2012,2008],
    "Cost($)" : [16000,9000,1250]
}

In [51]:
df = pd.DataFrame(data, index= ["Car1","Car2","Car3"])

In [52]:
print(df)

     Name(Brand)  Model(year)  Cost($)
Car1        Audi         2024    16000
Car2         BMW         2012     9000
Car3        Ford         2008     1250

In [53]:
df["FromTheOwner"] = [True,False,True] # Addin new column

In [54]:
print(df)

     Name(Brand)  Model(year)  Cost($)  FromTheOwner
Car1        Audi         2024    16000          True
Car2         BMW         2012     9000         False
Car3        Ford         2008     1250          True

In [55]:
newRow = pd.DataFrame([{"Name(Brand)": "Tesla","Model(year)": 2024,"Cost($)": 9000,"FromTheOwner": False}],index= ["Car4"])
df = pd.concat([df,newRow])
print(df)

     Name(Brand)  Model(year)  Cost($)  FromTheOwner
Car1        Audi         2024    16000          True
Car2         BMW         2012     9000         False
Car3        Ford         2008     1250          True
Car4       Tesla         2024     9000         False